<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!--一些配置属性 -->
		<!-- <property name="dialect">org.hibernate.dialect.MySQLDialect</property> 
			<property name="show_sql">true</property> <property name="connection.url">jdbc:mysql://localhost:3306/office_automation</property> 
			<property name="connection.driver_class">com.mysql.jdbc.Driver</property> 
			<property name="hibernate.connection.username">root</property> <property 
			name="hibernate.connection.password">ssthouse</property> -->


		<!--bean 的映射 -->
		<mapping class="com.ssthouse.officeautomation.domain.UserEntity" />
		<mapping class="com.ssthouse.officeautomation.domain.QuestionEntity" />
		<mapping class="com.ssthouse.officeautomation.domain.QuestionnaireEntity" />
		<mapping
			class="com.ssthouse.officeautomation.domain.QuestionnaireAnswerEntity" />
		<mapping class="com.ssthouse.officeautomation.domain.VoteOptionEntity" />
		<mapping class="com.ssthouse.officeautomation.domain.VotingEntity" />
		<mapping class="com.ssthouse.officeautomation.domain.AskLeaveEntity" />
		<mapping class="com.ssthouse.officeautomation.domain.WorkOvertimeEntity" />
		<mapping class="com.ssthouse.officeautomation.domain.OutingEntity" />
		<mapping class="com.ssthouse.officeautomation.domain.UserConfigEntity" />
		<mapping class="com.ssthouse.officeautomation.domain.MeetingEntity" />
		<mapping class="com.ssthouse.officeautomation.domain.MeetingRoomEntity" />
		<!-- DB schema will be updated if needed -->
		<!-- <property name="hbm2ddl.auto">update</property> -->
	</session-factory>
</hibernate-configuration>